@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-light: 108 108 39;
    --primary-dark: 226 227 136;
    --secondary-light: 130 130 36;
    --secondary-dark: 207 207 155;
    --surface-low-light: 255 247 236;
    --surface-low-dark: 39 39 30;
    --surface-high-light: 230 228 191;
    --surface-high-dark: 64 64 41;
  }

  ::selection {
    @apply bg-primary-light text-surface-low-light
  }
  
  .dark ::selection {
    @apply bg-primary-dark text-surface-low-dark
  }

  *:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary-light dark:outline-white
  }
}

@layer utilities {
  .gradient-mask {
    mask-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.25) 60%, rgba(255,255,255,0) 100%);
    -webkit-mask-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.25) 60%, rgba(255,255,255,0) 100%);
  }

  .theme-toggle-inner-mask {
    mask-image: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50.0001%);
    -webkit-mask-image: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50.0001%);
  }
}