@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-light: 17 54 126;
    --primary-dark: 219 225 255;
    --secondary-light: 58 93 161;
    --secondary-dark: 179 197 255;
    --surface-low-light: 195 226 245;
    --surface-low-dark: 1 35 64;
    --surface-high-light: 222 241 253;
    --surface-high-dark: 5 50 87;
  }

  ::selection {
    @apply bg-primary-light text-surface-low-light
  }
  
  .dark ::selection {
    @apply bg-primary-dark text-surface-low-dark
  }
}

@layer utilities {
  .gradient-mask {
    mask-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.25) 60%, rgba(255,255,255,0) 100%);
    -webkit-mask-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.25) 60%, rgba(255,255,255,0) 100%);
  }

  .theme-toggle-inner-mask {
    mask-image: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50.0001%);
    -webkit-mask-image: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50.0001%);
  }
}